body {
	transition: all 0.5s;
	font-family: "Rubik";
}
.cursor {
	cursor: pointer;
}


.photoDisplay{
	position: -webkit-sticky;
	position: fixed;
	top:0%;
	bottom: 20px;
	z-index: 1;
	background-color: rgba(47, 63, 151, 0.432);
	
}
.slider{
	display:flex;
	width:80%;
	overflow: hidden;
}

.button{
	
	position: absolute;
	z-index: 99;
	height: 230px;
	background-color: rgba(255,255,255, 0.432);
}
.buttonleft{
	
	left:0;
}
.buttonRight{
	right:0px;
	
	
}

:root {
	--myprimary: #f4f8f7;
	--mysecondary: #979898;
	--myblue: #373d57;
	--myorange: #fb743e;
}
.container {
	transition: all 0.5s;
	max-width: 1400px !important;
	margin: 0 auto;
}
.flex-25 {
	transition: all 0.5s;
	flex: 1 10%;
}
.sm-font {
	transition: all 0.5s;
	font-family: "Rubik";
	font-size: 12px;
}

.my-primary {
	background-color: var(--myprimary) !important;
}
.my-secondary {
	background-color: var(--mysecondary) !important;
}

.my-dark {
	background-color: var(--myblue) !important;
}

.my-orange {
	color: var(--myorange) !important;
}
.myorange-bg {
	background-color: var(--myorange) !important;
}
.myborder-orange {
	border-bottom: 1px solid var(--myorange);
	border-color: var(--myorange) !important;
}
.mysecondary-text {
	color: var(--mysecondary) !important;
}
.primary-title {
	font-family: "Rubik";
	font-size: 18px !important;
	font-weight: 500;
}
.myprimary-text {
	color: var(--myblue) !important;
}
.icon {
	transition: all 0.5s;
	max-width: 160px;
}
.sm-icon {
	transition: all 0.5s;
	max-width: 100px;
}
.section-pgap {
	transition: all 0.5s;
	padding-top: 4%;
}
.section-pbgap {
	padding-bottom: 4%;
}
.section-mgap {
	margin-top: 7%;
}
.light-overlay {
	background-color: rgba(255, 255, 255, 0.8);
}

.banner-overlay {
	background-image: linear-gradient(
		to top,
		#383e56a8,
		rgba(47, 63, 151, 0.432)
	);
}
.profilepic {
	max-height: 200px;
	max-width: 200px;
}
.mypicturebackground {
	background-image: url("/images/photoGallery/gallery4.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.mypicturebackground2{
	background-image: url("/images/oldman.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.markdown {
}
.markdown > h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: left;
	color: var(--myblue);
}
.markdown > p {
	color: var(--mysecondary);
}





a {
	cursor: pointer;
}
.h2,
.h1,
.h3,
.h4,
.h5,
.h6 {
	font-family: Rubik;
}

.eventimgbg{
	transition: all 0.5s;
height:250px;
}
.cardmargin {
	transition: all 0.5s;
	margin-top: 30%;
}

.clipcart{
	transition: all 0.5s;
	max-width: 600px;
}

.sliderContainer{
	max-height: 230px;
}
.photo{
	max-height: 300px;
}
.postcontainer {
	transition: all 0.5s;
	max-width: 1000px;
	margin: 0 12%;
	padding-top: 3%;
}

@media (min-width:801px)and (max-width:1200px){
	.sliderContainer{
		transition: all 0.5s;
		max-height: 180px;
	}

	.photo{
		max-height: 300px;
	}
	.clipcart{
		transition: all 0.5s;
		max-width: 600px;
	}
	.eventimgbg{
		transition: all 0.5s;
		height:230px;
	}
	.cardmargin {
		transition: all 0.5s;
		margin-top: 45%;
	}
	.postcontainer {
		transition: all 0.5s;
		max-width: 900px;
		margin: 0 4%;
		padding-top: 3%;
	}
}



@media (min-width:421px)and (max-width:800px){

	.postcontainer {
		transition: all 0.5s;
		max-width: 600px;
		margin: 0 2%;
		padding-top: 3%;
	}
	
	.photo{
		max-height: 160px;
	}
	.sliderContainer{
		transition: all 0.5s;
		max-height: 210px;
	}
	
	.clipcart{
		transition: all 0.5s;
		max-width: 500px;
	}
	.h6 {
		transition: all 0.5s;
		font-size: 10px;
	}
	.h5 {
		transition: all 0.5s;
		font-size: 13px;
	}
	.h4 {
		transition: all 0.5s;
		font-size: 14px !important;
	}
	.h3 {
		transition: all 0.5s;
		font-size: 16px;
	}
	.h2 {
		transition: all 0.5s;
		font-size: 24px;
	}
	.h1 {
		transition: all 0.5s;
		font-size: 30px;
	}

	.p1 {
		transition: all 0.5s;
		font-size: 13px;
	}
	

}
@media (max-width: 420px) {
	.sliderContainer{
		max-height: 200px;
	}
	.clipcart{
		transition: all 0.5s;
		max-width: 300px;
	}
	.photo{
		max-height: 80px;
	}

	.eventimgbg{
		transition: all 0.5s;
		max-height:400px;
		}
	.sm-card {
		transition: all 0.5s;
		transition: all 0.5s;
		min-height: 400px;
		width: 100%;
	}
	

	.p1 {
		transition: all 0.5s;
		font-size: 10px;
	}
	.h6 {
		font-size: 10px;
	}
	.h5 {
		transition: all 0.5s;
		font-size: 12px;
	}
	.h4 {
		transition: all 0.5s;
		font-size: 14px;
	}
	.h3 {
		transition: all 0.5s;
		font-size: 15px;
	}
	.h2 {
		transition: all 0.5s;
		font-size: 16px;
	}
	.h1 {
		transition: all 0.5s;
		font-size: 18px;
	}
	.postcontainer {
		transition: all 0.5s;
		max-width: 500px;
		margin: 0 2%;
		padding-top: 3%;
	}
}

